@media screen and (max-width: 500px) {
  body {
    position: relative;
  }
  nav {
    width: 100%;
    height: 10vh;
    margin-top: 2%;
    overflow: hidden;
  }
  nav #logo {
    width: 120px;
    height: auto;
  }
  nav .container {
    width: 80%;
    margin: auto;
  }
  nav .div {
    margin: 0;
    padding: 0;
  }
  nav ul {
    display: none;
  }
  nav #up {
    display: none;
  }
  #nav2 {
    display: none;
  }
  header {
    width: 100%;
    height: 80vh;
    background-color: #031c29;
  }
  header .container {
    width: 80%;
    margin: auto;
  }
  header .women {
    width: 300px;
    height: auto;
    position: absolute;
    right: -20%;
    top: 150px;
    z-index: 0;
    overflow: hidden;
  }
  header .div {
    width: 60%;
    margin-top: 35%;
  }
  header .div h1 {
    font-size: 20px;
    margin: 5% 0;
  }
  header .div p {
    width: 60%;
    font-size: 12px;
    margin: 5% 0;
  }
  header .div .btn {
    font-size: 12px;
    width: 120px;
    height: 30px;
    margin: 5% 0;
    background-color: #031c29;
    color: #fff;
    border: 1px solid #fff;
    z-index: 1;
  }
  header section {
    width: 80%;
    position: absolute;
    top: 65%;
    left: 10%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  }
  header section .container {
    width: 100%;
    height: 40vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  header section .iteam {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  header section .line {
    display: none;
  }
  header section .iteam a {
    font-size: 14px;
  }

  #services {
    margin-top: 30vh;
    width: 100%;
    height: 200vh;
    position: relative;
  }
  #services .container {
    width: 80%;
    margin: auto;
  }
  #services .container h1 {
    font-size: 22px;
  }
  #services .container p {
    width: 70%;
    font-size: 14px;
    position: absolute;
    top: 1%;
  }
  #services .box {
    width: 80%;
    margin: auto;
  }
  #services .box-1 {
    width: 80%;
    height: 40vh;
    position: absolute;
    left: 8%;
    top: 10%;
    color: #fff;
  }

  #services .box-1 h1 {
    width: 71%;
    margin: 2% 5%;
    margin-top: 35%;
    font-size: 20px;
  }
  #services .box-1 p {
    width: 60%;
    margin: 2% 5%;
    font-size: 12px;
  }
  #services .box-2 {
    width: 80%;
    height: 40vh;
    position: absolute;
    top: 80vh;
    left: 8%;
    color: #fff;
  }
  #services .box-2 img {
    width: 150px;
    height: auto;
    position: absolute;
    right: 10%;
    top: 15%;
    z-index: 0;
  }
  #services .box-2 h1 {
    width: 60%;
    margin: 2% 5%;
    font-size: 20px;
    margin-top: 35%;
    z-index: 10;
  }
  #services .box-2 p {
    width: 90%;
    margin: 2% 5%;
    font-size: 12px;
  }
  #services .box-3 {
    width: 80%;
    height: 40vh;
    position: absolute;
    top: 135vh;
    left: 8%;
    color: #fff;
  }
  #services .box-3 h1 {
    width: 60%;
    margin: 2% 5%;
    margin-top: 45%;
    font-size: 20px;
  }
  #services .box-3 p {
    width: 90%;
    margin: 2% 5%;
    font-size: 12px;
  }
  #services .box-4 {
    width: 80%;
    height: 40vh;
    position: absolute;
    top: 190vh;
    left: 8%;
    color: #fff;
  }
  #services .box-4 h1 {
    width: 60%;
    margin: 2% 5%;
    margin-top: 45%;
    font-size: 20px;
  }
  #text {
    width: 100%;
    height: 80vh;
    background-color: #f8f8f8;
    position: relative;
    top: 40vh;
    left: -5vh;
  }
  #text .container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #text .container div {
    width: 80%;
    margin: auto;
  }
  #text .container div h1 {
    font-size: 20px;
  }
  #text .container div p {
    width: 60%;
    font-size: 14px;
  }
  #text .container .btn {
    padding: 5px 10%;
    font-size: 12px;
  }
  #text .container .img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40%;
  }

  #text .container .img1 {
    width: 180px;
    height: auto;
    position: relative;
    top: 10%;
    left: 20%;
  }
  #text .container .img2 {
    width: 201px;
    height: auto;
    position: relative;
    top: 0px;
    left: -13%;
  }
  #text .container .img3 {
    width: 205px;
    height: auto;
    position: relative;
    top: 0;
    left: -70%;
  }

  #carusel {
    margin-top: 50vh;
  }
  #carusel .container h1 {
    width: 80%;
    font-size: 20px;
    margin: 2% 5%;
  }
  #carusel .container p {
    width: 80%;
    margin: 0 5%;
    font-size: 14px;
  }
  #carusel .container {
    width: 90%;
    margin: auto;
  }
  #carusel .card {
    margin: 10vh 5%;
    margin-top: 10vh;
    width: 300px;
    height: 410px;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(4);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    /* overflow-x: auto; */
  }
  #carusel .content {
    width: 90%;
    margin: auto;
  }
  #carusel .card img {
    width: 180px;
    height: 180px;
    margin: 10%;
    background-position: center;
    background-size: cover;
  }
  #carusel .card p {
    width: 80%;
    font-size: 14px;
    margin: 2% 10%;
  }
  #carusel .card h2 {
    font-size: 20px;
    margin: 0 10%;
  }
  #carusel .card .btn {
    margin: 5% 10%;
    width: 70%;
    padding: 8px 15%;
  }
  #carusel .card .btn.active {
    background-color: #031c29;
    color: #fff;
  }

  #text2 {
    width: 100%;
    height: 155vh;
    background-color: #f8f8f8;
    margin-top: 30vh;
    position: relative;
  }
  #text2 .container {
    width: 90%;
    height: 522px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10vh;
  }
  #text2 .container h1 {
    font-size: 22px;
    margin: 5%;
    width: 80%;
  }
  #text2 .container p {
    margin: 5%;
    width: 80%;
    font-size: 14px;
  }
  #text2 .container span {
    opacity: 0.5;
  }
  #text2 .container a {
    text-decoration: none;
    color: #000;
    margin: 0 5%;
    font-size: 14px;
  }
  #text2 .container .iteam {
    margin-top: 5%;
  }

  #text2 .container .iteam2 {
    width: 60%;
    margin: auto;
    position: relative;
    right: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #text2 .container .img1 {
    margin: 5% 12%;
  }

  #valyuta {
    margin-top: 15vh;
    width: 100%;
    height: 80vh;
    position: relative;
  }
  #valyuta .container h2 {
    font-size: 22px;
    margin: 0 5%;
  }

  #valyuta .table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    position: relative;
  }
  #valyuta .table .table-left {
    width: 35%;
    height: 71px;
  }
  #valyuta .table .table-right {
    width: 330px;
    height: 71px;
    position: relative;
    left: 25px;
  }
  #valyuta .container .table p {
    font-size: 12px;
  }

  section .tolov {
    width: 90%;
    margin: auto;
    position: relative;
    top: 80vh;
  }
  section .tolov p,
  h1 {
    margin: 5% 8%;
    width: 80%;
  }

  #little {
    position: relative;
    top: 100vh;
  }
  #little .line {
    display: none;
  }
  #little .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #little .container img {
    width: 30px;
  }
  #little .container a {
    font-size: 12px;
  }

  #call {
    display: none;
  }
  /* #call {
    width: 100%;
    height: 109px;
    border-top: 2px solid #999;
    position: relative;
    top: 110vh;
  }
  #call .container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #call .container div {
    display: flex;
  }
    #call .container div
  #call .container h2 {
    font-size: 20px;
  } */
  #footer-bg {
    width: 100%;
    height: 180vh;
    background-color: #031c29;
    position: relative;
    top: 110vh;
  }
  #footer-bg .container {
    width: 90%;
    margin: auto;
  }
  #footer-bg .container {
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #footer-bg .container .box {
    margin-top: 5%;
    width: 40%;
    color: #fff;
  }
  #footer-bg .container #box4 {
    position: relative;
    right: -40%;
  }
  #end {
    position: relative;
    top: 110vh;
    height: 50vh;
  }
  #end .container {
    width: 90%;
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  #end .container .box {
    width: 90%;
    margin: auto;
  }
  #end .container .box2 {
    margin-left: 30%;
  }
}
