@media screen and (max-width: 500px) {
  body {
    position: relative;
  }
  nav {
    width: 100%;
    height: 10vh;
    margin-top: 2%;
    overflow: hidden;
  }
  nav #logo {
    width: 120px;
    height: auto;
  }
  nav .container {
    width: 80%;
    margin: auto;
  }
  nav .div {
    margin: 0;
    padding: 0;
  }
  nav ul {
    display: none;
  }
  #nav2 {
    display: none;
  }
  header {
    width: 100%;
    height: 80vh;
    background-color: #031c29;
  }
  header .container {
    width: 80%;
    margin: auto;
  }
  header .women {
    width: 350px;
    height: auto;
    position: absolute;
    right: -25%;
    top: 95px;
    z-index: 0;
    overflow: hidden;
  }
  header .div {
    width: 60%;
    margin-top: 35%;
  }
  header .div h1 {
    font-size: 20px;
    margin: 5% 0;
  }
  header .div p {
    font-size: 14px;
    margin: 5% 0;
  }
  header .div .btn {
    font-size: 12px;
    width: 120px;
    height: 30px;
    margin: 5% 0;
    background-color: #031c29;
    color: #fff;
    border: 1px solid #fff;
    z-index: 1;
  }
  header section {
    width: 80%;
    position: absolute;
    top: 65%;
    left: 10%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  }
  header section .container {
    width: 100%;
    height: 40vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  header section .iteam {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  header section .line {
    display: none;
  }
  header section .iteam a {
    font-size: 14px;
  }

  #services {
    margin-top: 30vh;
    width: 100%;
    height: 200vh;
    position: relative;
  }
  #services .container {
    width: 80%;
    margin: auto;
  }
  #services .container h1 {
    font-size: 22px;
  }
  #services .container p {
    width: 70%;
    font-size: 14px;
    position: absolute;
    top: 1%;
  }
  #services .box {
    width: 80%;
    margin: auto;
  }
  #services .box-1 {
    width: 80%;
    height: 40vh;
    position: absolute;
    left: 8%;
    top: 10%;
    color: #fff;
  }

  #services .box-1 h1 {
    width: 71%;
    margin: 2% 5%;
    margin-top: 35%;
    font-size: 20px;
  }
  #services .box-1 p {
    width: 60%;
    margin: 2% 5%;
    font-size: 12px;
  }
  #services .box-2 {
    width: 80%;
    height: 40vh;
    position: absolute;
    top: 80vh;
    left: 8%;
    color: #fff;
  }
  #services .box-2 img {
    width: 150px;
    height: auto;
    position: absolute;
    right: 10%;
    top: 15%;
    z-index: 0;
  }
  #services .box-2 h1 {
    width: 60%;
    margin: 2% 5%;
    font-size: 20px;
    margin-top: 35%;
    z-index: 10;
  }
  #services .box-2 p {
    width: 90%;
    margin: 2% 5%;
    font-size: 12px;
  }
  #services .box-3 {
    width: 80%;
    height: 40vh;
    position: absolute;
    top: 135vh;
    left: 8%;
    color: #fff;
  }
  #services .box-3 h1 {
    width: 60%;
    margin: 2% 5%;
    margin-top: 45%;
    font-size: 20px;
  }
  #services .box-3 p {
    width: 90%;
    margin: 2% 5%;
    font-size: 12px;
  }
  #services .box-4 {
    width: 80%;
    height: 40vh;
    position: absolute;
    top: 190vh;
    left: 8%;
    color: #fff;
  }
  #services .box-4 h1 {
    width: 60%;
    margin: 2% 5%;
    margin-top: 45%;
    font-size: 20px;
  }
  #text {
    width: 100%;
    height: 60vh;
    margin-top: vh;
    background-color: #f8f8f8;
    position: relative;
    top: 200vh;
  }

  #text {
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    position: relative;
    top: 50vh;
  }
  #text .container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #text .container div {
    width: 80%;
    margin: auto;
  }
  #text .container div h1 {
    font-size: 20px;
  }
  #text .container div p {
    width: 60%;
    font-size: 14px;
  }
  #text .container .btn {
    padding: 5px 10%;
    font-size: 12px;
  }
  #text .container .img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40%;
  }

  #text .container .img1 {
    width: 200px;
    height: auto;
    position: relative;
    top: 10%;
    left: 25%;
  }
  #text .container .img2 {
    width: 201px;
    height: auto;
    position: relative;
    top: 0px;
    left: -5%;
  }
  #text .container .img3 {
    width: 205px;
    height: auto;
    position: relative;
    top: 0;
    left: -70%;
  }
}
